@using SHBTONLINE.Models.SystemModel;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SHBT | 苏赫巴托  - 装X是给自己最好的礼物</title>
    @*<link rel="shortcut icon"  href="~/Content/drugs-sh.ico" />*@
    <link rel="shortcut icon" href="favicon.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Layuicss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @*背景图片*@
    <script src="~/Content/jquery.particleground.js"></script>


    <link href="~/Content/layui/css/modules/laydate/default/laydate.css" rel="stylesheet" />
    <link href="~/Content/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/Content/layui/css/modules/code.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.mobile.css" rel="stylesheet" />
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Content/layui/lay/modules/carousel.js"></script>
    <script src="~/Content/layui/lay/modules/code.js"></script>
    <script src="~/Content/layui/lay/modules/element.js"></script>
    <script src="~/Content/layui/lay/modules/flow.js"></script>
    <script src="~/Content/layui/lay/modules/form.js"></script>
    <script src="~/Content/layui/lay/modules/jquery.js"></script>
    <script src="~/Content/layui/lay/modules/laydate.js"></script>
    <script src="~/Content/layui/lay/modules/layedit.js"></script>
    <script src="~/Content/layui/lay/modules/layer.js"></script>
    <script src="~/Content/layui/lay/modules/laypage.js"></script>
    <script src="~/Content/layui/lay/modules/laytpl.js"></script>
    <script src="~/Content/layui/lay/modules/mobile.js"></script>
    <script src="~/Content/layui/lay/modules/table.js"></script>
    <script src="~/Content/layui/lay/modules/tree.js"></script>
    <script src="~/Content/layui/lay/modules/upload.js"></script>
    <script src="~/Content/layui/lay/modules/util.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <link href="~/Css/Page/index.css" rel="stylesheet" />
    <script src="~/Content/skplayer/dist/skPlayer.min.js"></script>
    <script src="~/Scripts/pages/index.js"></script>



</head>
<body>
    <div id="skPlayer" style="display:none"></div>
    <script>
        //var player = new skPlayer({
        //    autoplay: true,
        //    //可选项,自动播放,默认为false,true/false
        //    listshow: true,
        //    //可选项,列表显示,默认为true,true/false
        //    mode: 'listloop',
        //    //可选项,循环模式,默认为'listloop'
        //    //'listloop',列表循环
        //    //'singleloop',单曲循环
        //    music: {
        //        //必需项,音乐配置
        //        type: 'cloud',
        //        //必需项,网易云方式指定填'cloud'
        //        source: 2055128002
        //        //必需项,网易云音乐歌单id
        //        //登录网易云网页版,在网页地址中拿到
        //        // ... playlist?id=317921676
        //    }
        //});
        //$(function () {
        //    $("#src").css("width", document.body.clientWidth);
        //    $("#src").css("height", document.body.scrollHeight-60 );
        //    //$("#video1").css("width", document.body.offsetWidth);
        //    $(window).resize(function () {
        //        $("#src").css("width", document.body.clientWidth);
        //        $("#src").css("height", document.body.scrollHeight - 60);
        //    });
        //});

    </script>
    <style>
        .rich_media {
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }

        .on {
            background-image: url(../../Content/img/cssimg/qiandao_icon.png);
            background-size: 36px 36px;
            background-repeat: no-repeat;
        }

        .css1 {
            margin-left: 8%;
            margin-top: 2%;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top top-bar">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("苏赫巴托", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-left">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/Pubg/PubgIndex')">
                            <span class="text">绝地求生</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/DOTA2/DOTA2Index')">
                            <span class="text">DOTA2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/GTA5/GTA5Index')">
                            <span class="text">GTA5</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/CSGO/CSGOIndex')">
                            <span class="text">CS：GO</span>
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                </ul>
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="" style="height:100%">
        <div id="src" class="" style="height:100%!important">
            <iframe id="mainFrame" name="mainFrame" width="100%" height="100%"
                    frameborder="0" scrolling="auto" src="@Url.Content("~/Web/Main?load="+ViewBag.isload)" style="border:none;margin:0;overflow:hidden"></iframe>

        </div>
    </div>
    <div id="XXS" style="display:none">
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-collapse">
                    <div class="layui-colla-item">
                        <h2 class="layui-colla-title">人员签到情况</h2>
                        <div class="rich_media">
                            <div id="page-content">
                                <div style="text-align: center;background-color: #2FAA00;height: 50px;margin-bottom: 20px;">
                                    <span style="cursor: pointer;font-weight: 600;font-size: 20px;color: #fff;height: 50px;line-height: 50px;">每日签到</span>
                                    <input type="hidden" id="userId" value="${user.id }" />
                                </div>
                                <div class="container-fluid">
                                    <div class="row-fluid" id="calendar">

                                    </div>
                                    <div id="btnDiv">
                                        <div class="row-fluid text-center">
                                            <span id="sing_for_number" class="btn btn-default" onclick="javascript: SaveAttendInfo('@SessionManager.Instance.UserInfoSession.LoginName');">签到</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="sacrificeSomeOnetry" style="display:none">
        <div id="sacrificeSomeOne">

            <img src="~/Content/img/cssimg/shangxiang.PNG" style="margin-left:15%" />
            @*<h2 style="margin-left:5px;margin-top:5px"> 上香 </h2>*@
            <hr />
            <blockquote class="layui-elem-quote layui-quote-nm" style="width:90%;margin:10px">
                @*上香流程其相关内容:
                    <br />
                    1.每人每天只能上香三次。
                    <br />
                    2.上香满三次可以获得S币+1。
                    <br />
                    3.上香作为对战队人员的思念和缅怀，禁止恶意上香。*@

                <img src="~/Content/img/cssimg/guize.PNG" style="padding-left:10%" />
            </blockquote>

            <hr />


            <blockquote class="layui-elem-quote layui-quote-nm" style="width:90%;margin:10px;height:158px">
                @*进度条*@
                <div class="layui-progress layui-progress-big css1" lay-showpercent="true" style="width:80%" lay-filter="xkpercent">
                         <div class="layui-progress-bar" lay-percent="0%"></div>
                     </div>

                    <div  style="margin-bottom:2px;margin-top:5px; width:693px">
                         <p class="layui-col-md3" style="width:130px; text-align:center;font-size:15px;font-family:sans-serif;padding-top: 5px;padding-left: 30px;">大 可 神：</p>

                         <div class="layui-col-md1">
                             <button class="layui-btn layui-btn-sm site-xkpercent-active" data-type="setxkPercent">上香</button>
                         </div>
                         <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="Icon PinIndex-reactionIcon Icon--clap"
                              aria-hidden="true" style="fill: rgb(92, 97, 103); height: 22px; width: 22px;">
                             <title>
                             </title>
                             <g>
                                 <path fill-rule="evenodd" d="M17.92 6.7c-.04.04-.08.06-.13.05-.1 0-.2-.1-.2-.18l.2-2.9v-.05c0-.08.1-.1.2-.07l2 1.05v.22L17.9 6.7zm2.9-.24l.12 1.47v.04c-.02.1-.1.15-.2.13l-2.17-.4c-.05-.02-.1-.05-.12-.1-.04-.07 0-.18.08-.22l2.04-1.06h.06c.1-.02.17.04.18.14zm-4.4-.02l-1.75-1.78-.03-.06c-.04-.08 0-.18.1-.2l1.54-.62h.05c.1-.02.17.05.18.14l.2 2.4v.12c0 .06-.1.06-.2 0zm1.76 2.28l1.57 4.3c.72 1.97.05 4.2-1.65 5.46l-.26.2c-.97.7-2.1 1.06-3.25 1.06-.4 0-.8-.05-1.1-.12-.6.2-1.1.3-1.7.3-1.1 0-2.3-.37-3.2-1.14L8 18.2c-.5-.4-1.65-1.52-3.52-3.43-.6-.6-.7-1.57-.24-2.3l.14-.17c-.66-.6-.75-1.65-.2-2.36.14-.15.26-.26.4-.35-.16-.6-.06-1.2.3-1.6l.07-.1c.3-.4.7-.6 1.15-.6.34-.1.67.1.96.2l.1-.2.1-.1c.48-.6 1.18-.8 1.83-.6l.1-.1c.7-.8 1.9-.9 2.7-.2l.4.4.1-.2c.2-.3.5-.5.8-.6.4-.2.9-.2 1.4 0 .4.2.7.6.9 1.02l.1.3c.5-.17 1-.14 1.5.1s.8.62 1 1.1zm-1.13 8.86l.25-.2c1.22-.88 1.7-2.5 1.18-3.9l-1.57-4.3c-.1-.32-.4-.5-.8-.37l-.1.1-.1.1c-.3.2-.5.6-.3 1l.3.7c.1.2 0 .5-.2.6-.1.1-.3 0-.4-.1L11 7.5c-.24-.2-.6-.2-.8.04-.2.28-.18.6.03.8l2.74 2.5c.15.16.16.38.03.5s-.35.17-.5 0L9.8 8.9c-.03 0-.04-.02-.05-.04l-.73-.64c-.2-.2-.54-.18-.73.03-.3.3-.2.7 0 .95l3.3 3.1c.1.13.1.35 0 .5-.2.14-.4.15-.5.02l-2.9-2.7c-.2-.2-.5-.2-.7 0-.2.25-.2.6 0 .83l3 2.76c.1.1.1.3 0 .5-.2.1-.4.1-.5 0l-1.9-1.7c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3.1-.2.3-.2.7.03.9 1.9 2 3.1 3.2 3.54 3.5.2.2.56.4 1.04.7 1.44.9 3.27.9 4.66-.1zM5.3 14c1.8 1.85 2.95 2.97 3.4 3.34l.74.6c.6.5 1.33.78 2.06.85l-1-.7c-.5-.4-1.68-1.6-3.68-3.7-.3-.3-.5-.7-.55-1.1l-.44-.3c-.08-.1-.17-.1-.28-.1h-.03c-.1 0-.22 0-.3.1-.2.3-.18.7.07.9zm.16-3.6c-.14.02-.27.1-.36.2-.23.28-.2.67.05.9l1.16 1.04.3-.6c0-.02.1-.04.1-.05-.3-.4-.4-.8-.5-1.2l-.2-.3c-.1-.1-.2-.2-.4-.2zm.72-1.97c-.15 0-.28.08-.38.2-.26.33-.22.75.06 1l.34.32c.07-.2.17-.4.3-.6.02 0 .08-.07.08-.07.08-.1.16-.16.24-.23l-.03-.3-.2-.17c-.2-.1-.3-.15-.5-.15zm7.1-1.03l-.13.16 1.2 1.05c.1-.1.2-.3.35-.4l-.2-.5c-.06-.1-.2-.3-.36-.4-.18-.1-.37-.1-.55 0-.2.1-.3.2-.3.3z">
                                 </path>
                             </g>
                         </svg>
                     </div>
                 <div class="layui-progress layui-progress-big css1" lay-showpercent="true" style="width:80%" lay-filter="wyhpercent">
                        <div class="layui-progress-bar" lay-percent="70%"></div>
                    </div>

                    <div class="layui-col-md9" style="margin-bottom:2px;margin-top:5px;width:693px">
                        <p class="layui-col-md3" style="width:130px; text-align:center;font-size:15px;font-family:sans-serif;padding-top: 5px;padding-left: 30px;">窝 儿:</p>
                        <div class="layui-col-md1">
                            <button class="layui-btn layui-btn-sm  site-wyhpercent-active" data-type="setwyhPercent">上香</button>
                        </div>
                        <div class="layui-col-md3" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="Icon PinIndex-reactionIcon Icon--clap"
                                 aria-hidden="true" style="fill: rgb(92, 97, 103); height: 22px; width: 22px;">
                                <title>
                                </title>
                                <g>
                                    <path fill-rule="evenodd" d="M17.92 6.7c-.04.04-.08.06-.13.05-.1 0-.2-.1-.2-.18l.2-2.9v-.05c0-.08.1-.1.2-.07l2 1.05v.22L17.9 6.7zm2.9-.24l.12 1.47v.04c-.02.1-.1.15-.2.13l-2.17-.4c-.05-.02-.1-.05-.12-.1-.04-.07 0-.18.08-.22l2.04-1.06h.06c.1-.02.17.04.18.14zm-4.4-.02l-1.75-1.78-.03-.06c-.04-.08 0-.18.1-.2l1.54-.62h.05c.1-.02.17.05.18.14l.2 2.4v.12c0 .06-.1.06-.2 0zm1.76 2.28l1.57 4.3c.72 1.97.05 4.2-1.65 5.46l-.26.2c-.97.7-2.1 1.06-3.25 1.06-.4 0-.8-.05-1.1-.12-.6.2-1.1.3-1.7.3-1.1 0-2.3-.37-3.2-1.14L8 18.2c-.5-.4-1.65-1.52-3.52-3.43-.6-.6-.7-1.57-.24-2.3l.14-.17c-.66-.6-.75-1.65-.2-2.36.14-.15.26-.26.4-.35-.16-.6-.06-1.2.3-1.6l.07-.1c.3-.4.7-.6 1.15-.6.34-.1.67.1.96.2l.1-.2.1-.1c.48-.6 1.18-.8 1.83-.6l.1-.1c.7-.8 1.9-.9 2.7-.2l.4.4.1-.2c.2-.3.5-.5.8-.6.4-.2.9-.2 1.4 0 .4.2.7.6.9 1.02l.1.3c.5-.17 1-.14 1.5.1s.8.62 1 1.1zm-1.13 8.86l.25-.2c1.22-.88 1.7-2.5 1.18-3.9l-1.57-4.3c-.1-.32-.4-.5-.8-.37l-.1.1-.1.1c-.3.2-.5.6-.3 1l.3.7c.1.2 0 .5-.2.6-.1.1-.3 0-.4-.1L11 7.5c-.24-.2-.6-.2-.8.04-.2.28-.18.6.03.8l2.74 2.5c.15.16.16.38.03.5s-.35.17-.5 0L9.8 8.9c-.03 0-.04-.02-.05-.04l-.73-.64c-.2-.2-.54-.18-.73.03-.3.3-.2.7 0 .95l3.3 3.1c.1.13.1.35 0 .5-.2.14-.4.15-.5.02l-2.9-2.7c-.2-.2-.5-.2-.7 0-.2.25-.2.6 0 .83l3 2.76c.1.1.1.3 0 .5-.2.1-.4.1-.5 0l-1.9-1.7c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3.1-.2.3-.2.7.03.9 1.9 2 3.1 3.2 3.54 3.5.2.2.56.4 1.04.7 1.44.9 3.27.9 4.66-.1zM5.3 14c1.8 1.85 2.95 2.97 3.4 3.34l.74.6c.6.5 1.33.78 2.06.85l-1-.7c-.5-.4-1.68-1.6-3.68-3.7-.3-.3-.5-.7-.55-1.1l-.44-.3c-.08-.1-.17-.1-.28-.1h-.03c-.1 0-.22 0-.3.1-.2.3-.18.7.07.9zm.16-3.6c-.14.02-.27.1-.36.2-.23.28-.2.67.05.9l1.16 1.04.3-.6c0-.02.1-.04.1-.05-.3-.4-.4-.8-.5-1.2l-.2-.3c-.1-.1-.2-.2-.4-.2zm.72-1.97c-.15 0-.28.08-.38.2-.26.33-.22.75.06 1l.34.32c.07-.2.17-.4.3-.6.02 0 .08-.07.08-.07.08-.1.16-.16.24-.23l-.03-.3-.2-.17c-.2-.1-.3-.15-.5-.15zm7.1-1.03l-.13.16 1.2 1.05c.1-.1.2-.3.35-.4l-.2-.5c-.06-.1-.2-.3-.36-.4-.18-.1-.37-.1-.55 0-.2.1-.3.2-.3.3z">
                                    </path>
                                </g>
                            </svg>
                        </div>
                    </div>
            </blockquote>

        </div>
        <script>
            //注意：折叠面板 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function () {
                element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
                var active = {
                    setxkPercent: function () {
                        $.ajax({
                            type: 'POST',
                            data: { Name: 'xk' },
                            url: "/PersonOperation/Attendance/GetsacrifInfo",
                            async: false,
                            success: function (data) {
                                debugger;
                                alert(data);
                                element.progress('xkpercent', data+'%')
                            }

                        })
                    },
                    //更新进度
                    setwyhPercent: function () {
                        $.ajax({
                            type: 'POST',
                            data: { Name: 'wyh' },
                            url: "/PersonOperation/Attendance/GetsacrifInfo",
                            async: false,
                            success: function (data) {
                                debugger;
                                alert(data);
                                element.progress('wyhpercent', data+'%')
                            }

                        })
                    }
                };

                $('.site-xkpercent-active').on('click', function () {
                    var othis = $(this), type = $(this).data('type');
                    active[type] ? active[type].call(this, othis) : '';
                });
                $('.site-wyhpercent-active').on('click', function () {
                    var othis = $(this), type = $(this).data('type');
                    active[type] ? active[type].call(this, othis) : '';
                });

            });
        </script>
    </div>
</body>
</html>
