<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHBT | 苏赫巴托  - 装X是给自己最好的礼物</title>
    @*<link rel="shortcut icon"  href="~/Content/drugs-sh.ico" />*@
    <link rel="shortcut icon" href="favicon.ico" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Layuicss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Content/LayuiJS")
    <link href="~/Content/Page/index.css" rel="stylesheet" />
    <script src="~/Content/skplayer/dist/skPlayer.min.js"></script>
    <script src="~/Scripts/pages/index.js"></script>
</head>
<body>
    <div id="skPlayer" style="display:none"></div>
    <script>
        //var player = new skPlayer({
        //    autoplay: true,
        //    //可选项,自动播放,默认为false,true/false
        //    listshow: true,
        //    //可选项,列表显示,默认为true,true/false
        //    mode: 'listloop',
        //    //可选项,循环模式,默认为'listloop'
        //    //'listloop',列表循环
        //    //'singleloop',单曲循环
        //    music: {
        //        //必需项,音乐配置
        //        type: 'cloud',
        //        //必需项,网易云方式指定填'cloud'
        //        source: 2055128002
        //        //必需项,网易云音乐歌单id
        //        //登录网易云网页版,在网页地址中拿到
        //        // ... playlist?id=317921676
        //    }
        //});
        //$(function () {
        //    $("#src").css("width", document.body.clientWidth);
        //    $("#src").css("height", document.body.scrollHeight-60 );
        //    //$("#video1").css("width", document.body.offsetWidth);
        //    $(window).resize(function () {
        //        $("#src").css("width", document.body.clientWidth);
        //        $("#src").css("height", document.body.scrollHeight - 60);
        //    });
        //});

    </script>
    <div class="navbar navbar-inverse navbar-fixed-top top-bar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("苏赫巴托", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/Pubg/PubgIndex')">
                            <span class="text">绝地求生</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/DOTA2/DOTA2Index')">
                            <span class="text">DOTA2</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/GTA5/GTA5Index')">
                            <span class="text">GTA5</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="js-sub-menu-toggle" onclick="RefreshFrame('/Game/CSGO/CSGOIndex')">
                            <span class="text">CS：GO</span>
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("主页", "Index", "Home")</li>
                        <li>@Html.ActionLink("关于", "About", "Home")</li>
                        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>*@
                </ul>
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="" style="height:100%">
        <div id="src" class="" style="height:100%!important">
            <iframe id="mainFrame" name="mainFrame" width="100%" height="100%"
                    frameborder="0" scrolling="auto" src="@Url.Content("~/Web/Main")" style="border:none;margin:0;overflow:hidden"></iframe>

        </div>
    </div>
</body>
</html>
