
@{
    ViewBag.Title = "AddMatch";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@model  SHBTONLINE.Areas.Play.Models.AddMatchForm
@using (Ajax.BeginForm("SaveAddMatch", "Play", new AjaxOptions() { OnBegin = "", OnSuccess = "funcOk", OnFailure = "funcFial" }, new { @class = "form-horizontal" }))
{
    @Html.TextBoxFor(p=>p.Name)
    @Html.TextBoxFor(p => p.P1)
    @Html.TextBoxFor(p => p.P2)
    @Html.TextBoxFor(p => p.Time)
    <table>
        <tr>
            <td>1            </td>
            <td>    @Html.TextBoxFor(p => p.Odds1)</td>
        </tr>
        <tr>
            <td>2</td>
            <td>
                @Html.TextBoxFor(p => p.Odds2)</td>
        </tr>
        <tr>
            <td>3</td>
            <td>
                @Html.TextBoxFor(p => p.Odds3)</td>
        </tr>
        <tr>
            <td>4</td>
            <td>
                @Html.TextBoxFor(p => p.Odds4)
            </td>
        </tr>
    </table>
    <select name="Sec">
        <option value="NBA大小分">NBA大小分</option>
        <option value="足球大小球">足球大小球</option>
        <option value="十杀">十杀</option>
        <option value="领先4分">领先4分</option>
        <option value="一血">一血</option>
    </select>
           <div class="form-btn-group bottom-action text-center">
                    <button type="submit" class="btn btn-primary" id="Save">保 存</button>
                    <button type="button" class="btn btn-danger" onclick="javascript: SZH.CloseDialog(null, 'dlg_AddAppraiseDutyRecord');">取 消</button>
                </div>

}

